In [57]:
import pandas as pd
df = pd.read_csv('test.txt', header = None)
df.columns = ['api', 'start_time', 'end_time']

In [58]:
df['end_time']

0        2021-04-13 17:29:24.569064
1        2021-04-13 17:29:24.570063
2        2021-04-13 17:29:24.570063
3        2021-04-13 17:29:24.570063
4        2021-04-13 17:29:24.570063
                    ...
74802    2021-04-13 17:29:26.974050
74803    2021-04-13 17:29:26.974050
74804    2021-04-13 17:29:26.974050
74805    2021-04-13 17:29:26.974050
74806    2021-04-13 17:29:26.975050
Name: end_time, Length: 74807, dtype: object

In [59]:
df['start_time'] = pd.to_datetime(df['start_time']).dt.strftime("%Y-%m-%d %H:%M:%S")
df['end_time'] = pd.to_datetime(df['end_time']).dt.strftime("%Y-%m-%d %H:%M:%S")

In [60]:
df.groupby(by='start_time', axis = 0).count()

                       api  end_time
start_time
2021-04-13 17:29:24   6628      6628
2021-04-13 17:29:25  38632     38632
2021-04-13 17:29:26  29547     29547

In [61]:
df.groupby(by='end_time', axis = 0).count()

                       api  start_time
end_time
2021-04-13 17:29:24   6620        6620
2021-04-13 17:29:25  38632       38632
2021-04-13 17:29:26  29555       29555

In [37]:
os.cpu_count()

16

In [ ]:
import grequests
apis = ["https://www.baidu.com/"]
rs = (grequests.get(api) for api in apis)
grequests.map(rs)